.container{
    display: flex;
    flex-direction: row;

    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    min-width: 350px;

    margin-left: -20px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: calc(100% - 350px - var(--offset-base-size)  * 15);
}